.sidebar {
  margin-left: 20px;
  margin-top: 30px;
  height: 280px;
  width: 250px;
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  border: 2px solid #fff;
  border-color: gray;
  border-radius: 5px;
  background-color: white;
}

.sidebar h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar .link {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar .link:hover {
  background-color: #d1d5e3;
}
