.action-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.label-display {
  display: none;
  position: absolute;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out;
}

.action-button:hover .label-display {
  display: inline-block;
  opacity: 1;
}
